<script >
$('document').ready(function() {
	var options = { videoId: '8eTHCs94kiQ', start: 3 };
	$('#wrapper').tubular(options);
	// f-UGhWj1xww cool sepia hd
	// 49SKbS7Xwf4 beautiful barn sepia
});
</script>

<div id="wrapper" class="clearfix">
	

<div class="envatologo">
<div class="black-50">
	<a href="../../static_pages/home"><img src="../images/logo.jpg" alt="St. Beaufort Logo" id="logo-contact" style="width:222px;height:240px" /></a>
	<ul style="list-style-type:none">
	<li class="nav link">
         <a href="https://thebeaufortscale.bandcamp.com/" target="_blank"><span>MUSIC</span></a></li>
	 <br>

	 <li class="nav link">
         <a href="http://folkmusic.tumblr.com/" target="_blank"><span>GALLERY & GIGS</span></a></li>
	 <br>
	 <li class="nav link"> <%= link_to 'STORY', static_pages_story_path %> </li>
	  <br>
	 <li class="nav link"> <%= link_to 'CONTACT', static_pages_contact_path %> </li>
	</ul>  
</div>
</div>


<div id="sidebar">
<li class= "controlls">
		<a href="#" class="tubular-play">Play</a>  
		<a href="#" class="tubular-pause">Pause</a>  
		<a href="#" class="tubular-volume-up">Volume Up</a>  
		<a href="#" class="tubular-volume-down">Volume Down</a>  
		<a href="#" class="tubular-mute">Mute</a>
</li>
<br>
<br>
<li class="black-50-social">
	<li> <a href="https://soundcloud.com/stbeaufort"><img src="../images/soundcloud.png"/></a></li>
	<br>
	<li><a href="https://www.facebook.com/saintbeaufort"><img src="../images/facebook.png"/></a></li>
	</li>
	<br>
	<li><a href="https://www.youtube.com/watch?v=8eTHCs94kiQ"><img src="../images/youtube.png"/></a></li>
	</li>
</li>
</div><!-- #wrapper -->