<script >
$('document').ready(function() {
	var options = { videoId: '1QhJMbUi0T4', start: 3 };
	$('#wrapper').tubular(options);
	// f-UGhWj1xww cool sepia hd
	// 49SKbS7Xwf4 beautiful barn sepia
});
</script>



<div id="wrapper" class="clearfix">
	<div id="main">
	<div class="black-50">
		<i href="../../static_pages/home"><img src="../images/logo.jpg" alt="St. Beaufort Logo" id="logo" style="width:272px;height:272px" /></i>
			<ul style="list-style-type:none">
			 <li class="nav link"> <%= link_to 'Home', static_pages_home_path %> </li>
			 <li> ________________________</li>
			 <li class="nav link"> <%= link_to 'Music', static_pages_music_path %> </li>
			 <li> ________________________</li>
			 <li class="nav link"> <%= link_to 'Contact', static_pages_contact_path %> </li>
			 <li> ____________________</li>
			 <li class="nav link"> <%= link_to 'New', static_pages_contact_path %> </li>
			</ul>  
	</div>
	</div>

	<div id="sidebar">
	<div class="black-50-social">
		<h2>stay connected</h2>
	</div>
	<div class= "controlls"
		<p id="video-controls" class="black-65">Video controls:<br /><a href="#" class="tubular-play">Play</a> | <a href="#" class="tubular-pause">Pause</a> | <a href="#" class="tubular-volume-up">Volume Up</a> | <a href="#" class="tubular-volume-down">Volume Down</a> | <a href="#" class="tubular-mute">Mute</a></p>
	</div>
	</div>
</div><!-- #wrapper -->