
     
<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
	<a> Hungerhoff becomes St. Beaufort </a>
</div><!--End Slide 1-->

<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
<div class="wrapper">
	<a> 
	Why? Well, first things first, how does weeping lovegrass start growing into bluegrass? Simple answer. Add a mandolin and a banjo. Next, continue to write about simple, honest, frontier themes. And remember that just because the world has been navigated doesn’t mean there is nothing left to explore. As we traveled, performed and wrote, the question slowly presented itself: what’s in a name, and does it matter? We think it does.
	So, we are proud to announce our new name. We were inspired by stories of the attempts to find trade routes along the coast of North America to connect the Atlantic Ocean to the Pacific, immortalized in the song by Canadian legend Stan Rogers. The fact that men risked their lives for the sake of exploration, sacrificing everything yet never reaching the Beaufort Sea spoke to us. In honor of this adventurous spirit, which we hope our music may emulate, we renamed the project.
	St. Beaufort recorded its first full-length album in November of 2014. In this album we revisit old ideas and explore new ones, take turns with lead vocals and harmonies, and take the listener with us on our journey. The album will be out in April, and as a way of re-introducing ourselves we are happy to present the video for the title track of the album, Wolf.
	We hope you enjoy it and share it with your friends. We may be sailing through heavy seas, but we’d love to have you along for the ride.
	 </a>
	<img src="../../images/logo.jpg" id="img7" data-stellar-ratio="1.5" data-stellar-vertical-offset="-53"alt="" style="width:250px;height:250px">	
</div>
</div><!--End Slide 2-->

<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
	<div class="wrapper">
	<a> Derek, Henric and Joe
	<br> -St. Beaufort </a>	
	<img src="../../images/henne.jpg" id="img10" data-stellar-ratio="1.5" data-stellar-vertical-offset="-53"alt="" style="width:150px;height:150px">
</div><!--End Slide 3-->
