/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a:hover { 
	color: #F2CF5C; 
	text-decoration: none;
}

h1, h2 { 
	font-size: 15px; 
	line-height: 20px; 
	font-weight: normal; 
	letter-spacing: -1px; 
	color: #fff; 
}

h3 { 
	font-size: 18px; 
	font-weight: normal; 
	margin: 8px 0; 
}

h4 { 
	font-size: 14px; 
	font-weight: normal; 
	margin: 0; 
}

h5 { 
	font-size: 12px; 
	font-weight: normal; 
	margin: 0; 
}

ol { 
	margin-left: 36px; 
}


@charset "utf-8";
/* CSS Document */
     
html,body{
	height:100%;
	font-family: 'Open Sans Condensed', sans-serif;
}

.navigation {
	position:fixed;
	z-index:1;
	top:20px;
	font-family: 'Lato', sans-serif;
}

.navigation li {
	color:#333333;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	-webkit-transition: all .2s ease-in-out;
	border-bottom:1px solid black;
	text-align:left;
	width:53px;
}

.navigation li:hover,.active {
	cursor:pointer;
	width:100px!important;
	text-decoration: none;
	color: #F2CF5C; 
}

.envatologo {
	position:absolute;
	top:9.333%;
	left:29.666%;
	width:310px;
	height: 560px;
	margin-top:-41px;
	margin-left:-223px;
	z-index:100;
	background-color: #000;
}

.envatologo > p, .envatologo > div { margin-left: 7px; }

.envatologo a {
	color: #fff;
	font-size: 14px;
}

.black-50 ul {
	padding-top: 30px;
	margin-left: 48px;
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: lighter;
}

.black-50 li {
  padding-top: 3px;
  text-align: center;
  padding-right: 50px;
}

