
@charset "UTF-8";

#wrapper { 
	width: 960px; 
	margin: 0 auto; 
	padding: 48px 0 72px; 
}

#sidebar { 
	width: 280px; 
	float: right; 
	bottom: 0;
}

#sidebar ol { 
	margin: 12px 0 12px 22px; 
}
/*
	----------------------------
	PAGE/SECTION SPECIFIC
	____________________________
*/

.black-50-social {
	position: absolute;
	color: #fff;
	bottom: 130px;
	width: 333px;
	text-align: center;
}

#video-controls { 
  width: 333px;
  background-color: #000;
  position: relative;
  color: white;
  text-align: center;
  margin-top: 450px;
  margin-right: 100px;
}

#video-controls a {
	color: white;
}

/*
	----------------------------
	UTILITY CLASSES
	____________________________
*/



.black-50 { background: url(../media/black-50-trans.png); color: #fff; padding: 4px 12px; margin: 24px 0; }




.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
