
@charset "UTF-8";

#wrapper { 
	width: 960px; 
	margin: 0 auto; 
   padding-top: 20px;
}


#sidebar { 
	width: 280px;
	padding-left: 580px;
	padding-top: 30px;
}

#sidebar ol { 
	margin: 12px 0 12px 22px; 
}
/*
	----------------------------
	PAGE/SECTION SPECIFIC
	____________________________
*/


/*
	----------------------------
	UTILITY CLASSES
	____________________________
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
