<div class="envatologo">
<div class="black-50">
	<a href="../../static_pages/home"><img src="../images/logo.jpg" alt="St. Beaufort Logo" id="logo-contact" style="width:272px;height:272px" /></a>
	<ul style="list-style-type:none">
	 <li class="nav link"> <%= link_to 'HOME', static_pages_home_path %> </li>
	 <li> ____________________</li>
	 <br>
	 <li class="nav link"> <%= link_to 'MUSIC', static_pages_music_path %> </li>
	 <li> ____________________</li>
	 <br>
	 <li class="nav link"> <%= link_to 'CONTACT', static_pages_contact_path %> </li>
	 <li> ____________________</li>
	 <br>
	 <li class="nav link"> <%= link_to 'STORY', static_pages_story_path %> </li>
	</ul>  
</div>
</div>