<div class="envatologo">
<div class="black-50">
	<a href="../../static_pages/home"><img src="../images/logo.jpg" alt="St. Beaufort Logo" id="logo-contact" style="width:272px;height:272px" /></a>
	<ul style="list-style-type:none">
	 <li class="nav link"> <%= link_to 'HOME', static_pages_home_path %> </li>
	 <br>
	<li class="nav link">
         <a href="https://thebeaufortscale.bandcamp.com/" target="_blank"><span>MUSIC</span></a></li>
	 <br>

	 <li class="nav link">
         <a href="http://folkmusic.tumblr.com/" target="_blank"><span>GALLERY & GIGS</span></a></li>
	 <br>
	 <li class="nav link"> <%= link_to 'STORY', static_pages_contact_path %> </li>
	  <br>
	 <li class="nav link"> <%= link_to 'CONTACT', static_pages_contact_path %> </li>
	</ul>  
</div>
</div>

